.contacts {
  height: 412px;
  text-align: center;
  &__title {
    font-size: 24px;
    font-weight: 200;
    width: 300px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    @mixin atMedium {
      font-size: 40px;
      width: 475px;
    }
  }
  &__item {
    &__title {
      font-weight: 700;
      font-size: 18px;
    }
    &__text {
      color: #de6183;
      font-size: 24px;
      font-weight: 200;
      margin-top: 0;
      margin-bottom: 20px;
      width: 296px;
      margin-left: auto;
      margin-right: auto;
    }
    &--left {
      float: left;
    }
    &--right {
      float: right;
    }
    @mixin atMedium {
      &:last-child {
        margin-top: 123px;
      }
    }
  }
}
