  .features {
    background-color: $mainGray;
    text-align: center;
    @mixin atMedium {
      text-align: left;
      height: 431px;
      position: relative;
    }
    &__item {
      &__title {
        font-weight: 700;
        font-size: 18px;
        margin-top: 33px;
        &--first {
          margin: 0;
          padding-top: 53px;
          @mixin atMedium {
            padding-top: 20px;
          }
        }
      }
      &__text {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        width: 260px;
        margin-top: 13px;
        line-height: 23px;
        &--b-padding {
          padding-bottom: 43px;
        }
        @mixin atMedium {
          margin: 9px 0;
          width: 329px;
        }
      }
      @mixin atMedium {
        float: right;
        width: 331px;
      }
    }
    &::after {
      content: "";
      height: 277px;
      display: block;
      background-image: url("img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      @mixin atMedium {
        background-image: url("img/iphone-screen-3-tablet@1x.png");
        width: 300px;
        position: absolute;
        left: 4px;
        top: -50px;
        height: 481px;
      }
    }
  }
