.price-slider {
  height: 380px;
  padding-top: 66px;
  margin-left: auto;
  margin-right: auto;
  background-color: $mainGray;
  position: relative;
  overflow: hidden;
  &__content {
    width: 830px;
    margin: 0 auto;
    position: relative;
    left: -252px;
    transition: left .7s linear;
    &__item {
      text-transform: uppercase;
      width: 270px;
      display: inline-block;
      &__header {
        color: white;
        background-color: $mainBlue;
        width: 276px;
        height: 98px;
        text-align: center;
        border-left: 1px solid $mainGray;
        border-right: 1px solid $mainGray;
        &__title {
          padding-top: 20px;
          font-weight: 700;
          font-size: 17px;
        }
        &__cost {
          padding-top: 3px;
          font-size: 24px;
        }
      }
      &__line {
        height: 59px;
        width: 276px;
        background-image: url(img/icon-included.svg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-color: white;
        border: 1px solid $mainGray;
        &--not-included {
          background-image: url(img/icon-not-included.svg);
        }
        &__text {
          margin-left: 20px;
          line-height: 60px;
          font-size: 14px;
        }
      }
    }
  }
  &__controls {
    width: 50px;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    top: 382px;
    left: 50%;
    transform: translateX(-50%);

    &__item {
      width: 6px;
      height: 6px;
      background-color: #bec2c7;
      border: 1px solid white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 7px;
      &:nth-child(1) {
        left: 0;
      }
      &:nth-child(2) {
        left: 50%;
      }
      &:nth-child(3) {
        left: 100%;
      }
      /* &:hover {
        background-color: $mainBlue;
      } */
      &--active {
        border-radius: 50%;
        border: 3px solid black;
        background-color: white;
        top: 5px;
      }
    }
  }
}
