.primary-nav {
  width: 100%;
  height: 0px;
  transition: all .3s ease-out;
  &--opened {
    position: absolute;
    height: auto;
    top: 67px;
    left: 0;
    z-index: 2;
    text-transform: uppercase;
    background-color: $mainBlue;
    color: white;
  }
  &__list {
    padding: 0;
    margin: 0;
    &__item {
      text-align: center;
      height: 62px;
      line-height: 62px;
      font-weight: 1000;
      border-top: 1px solid #485461;
      border-bottom: 1px solid black;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
